@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500&display=swap');

$font-main: 'Crimson Pro', sans-serif;
$font-head: 'Roboto', sans-serif;
$dark-blue: #00008B;
$slate-grey: #708090;
$dim-grey: #696969;

body {
  font: 1rem $font-main;
  color: $dark-blue;
}

h1 {
  font: 2rem $font-head;
  color: $slate-grey;
  margin-top: 30px;
}

h2 {
  font: 1.5rem $font-main;
  font-weight: bold;
  color: $dim-grey;
}

.footer-text {
  font: 1rem $font-head;
}

section.results {
  ul {
    margin-top: 10px;
  }
  li {
    font-size: .75rem;
    margin-top: 15px;
  }
}
